---
import Layout from "../../layouts/Layout.astro";
import { supabase } from "../../db/supabase";

let { data: players, error } = await supabase.from("player").select("*");

if (error) {
  console.error("Error fetching players:", error);
}

const playerStats = {
  goleadores: players.sort((a, b) => b.goal - a.goal).slice(0, 5),
  asistencias: players.sort((a, b) => b.assist - a.assist).slice(0, 5),
  mvps: players.sort((a, b) => b.mvp - a.mvp).slice(0, 5),
  amarillas: players.sort((a, b) => b.yellowCard - a.yellowCard).slice(0, 5),
  rojas: players.sort((a, b) => b.redCard - a.redCard).slice(0, 5),
};
---

<Layout description="Ranking Maratón" title="">
  <div class="flex flex-wrap gap-4 p-0 m-6">
    <section class="border p-4 rounded-md flex-1 min-w-[200px] text-center">
      <h1>MAX GOLEADORES</h1>
      {
        playerStats.goleadores.map((p, index) => (
          <a href={`/jugador/${p.id}`} class="block my-4">
            <h1>
              {index + 1}. {p.name}
            </h1>
            <p>Goles: {p.goal}</p>
          </a>
        ))
      }
      <button
        class="mt-4 bg-blue-500 text-white px-4 py-2 rounded"
        data-dialog-target="goleadoresModal"
      >
        Ver Todo
      </button>
    </section>
    <section class="border p-4 rounded-md flex-1 min-w-[200px]">
      <h1>ASISTENCIAS</h1>
      {
        playerStats.asistencias.map((p) => (
          <div>
            <h2>{p.name}</h2>
            <p>{p.assist}</p>
          </div>
        ))
      }
    </section>
    <section class="border p-4 rounded-md flex-1 min-w-[200px]">
      <h1>MVP</h1>
      {
        playerStats.mvps.map((p) => (
          <div>
            <h2>{p.name}</h2>
            <p>{p.mvp}</p>
          </div>
        ))
      }
    </section>
    <section class="border p-4 rounded-md flex-1 min-w-[200px]">
      <h1>T.AMARILLAS</h1>
      {
        playerStats.amarillas.map((p) => (
          <div>
            <h2>{p.name}</h2>
            <p>{p.yellowCard}</p>
          </div>
        ))
      }
    </section>
    <section class="border p-4 rounded-md flex-1 min-w-[200px]">
      <h1>T.ROJAS</h1>
      {
        playerStats.rojas.map((p) => (
          <div>
            <h2>{p.name}</h2>
            <p>{p.redCard}</p>
          </div>
        ))
      }
    </section>
  </div>
  <dialog id="goleadoresModal" class="p-6 border rounded-md">
    <h1 class="text-2xl mb-4">Goleadores</h1>
    {
      players
        .sort((a, b) => b.goal - a.goal)
        .map((p, index) => (
          <div>
            <h1>
              {index + 1}. {p.name}
            </h1>
            <p>Goles: {p.goal}</p>
          </div>
        ))
    }
    <form method="dialog">
      <button class="mt-4 bg-red-500 text-white px-4 py-2 rounded">
        Cerrar
      </button>
    </form>
  </dialog>

  <script>
    document
      .querySelectorAll("button[data-dialog-target]")
      .forEach((button) => {
        button.addEventListener("click", () => {
          const dialogId = button.getAttribute("data-dialog-target");
          const dialog = document.getElementById(dialogId) as HTMLDialogElement;
          if (dialog) {
            dialog.showModal();
          }
        });
      });
  </script>
</Layout>
