---
import { supabase } from "../../db/supabase";
import Layout from "../../layouts/Layout.astro";
let { id } = Astro.params;

let { data: team, error: teamError } = await supabase
  .from("team")
  .select("*")
  .eq("id", id)
  .single();

let { data: players, error: playerError } = await supabase
  .from("player")
  .select("*")
  .eq("teamId", id);

let { data: allTeams, error: allTeamsError } = await supabase
  .from("team")
  .select("*")
  .eq("groupId", team?.groupId);

// Calculating group standings
const groupStandings = allTeams.sort((a, b) => b.points - a.points);
---

<Layout description="Team Details" title="Cangas Cup Team Details">
  <div
    class="container mx-auto mt-20 p-4 md:p-8 grid grid-cols-1 md:grid-cols-3 gap-4"
  >
    <!-- Team Info Section -->
    <div class="md:col-span-1 bg-gray-100 p-6 rounded-lg shadow-md">
      {
        team && (
          <div class="text-center">
            <h1 class="text-3xl font-bold mb-4 text-blue-700">{team.name}</h1>
            <p class="text-lg text-gray-800">
              <strong>Location:</strong> {team.location}
            </p>
            <p class="text-lg text-gray-800">
              <strong>Group:</strong> {team.groupId}
            </p>
            <p class="text-lg text-gray-800">
              <strong>Points:</strong> {team.points}
            </p>
          </div>
        )
      }
    </div>

    <!-- Group Standings Section -->
    <div class="md:col-span-1 bg-gray-100 p-6 rounded-lg shadow-md">
      <h2 class="text-xl font-bold mb-4 text-center text-blue-700">
        Group Standings
      </h2>
      <ul>
        {
          groupStandings &&
            groupStandings.map((team) => (
              <li class="flex justify-between py-2 border-b">
                <span class="text-gray-800">{team.name}</span>
                <span class="text-gray-800">{team.points} pts</span>
              </li>
            ))
        }
      </ul>
    </div>

    <!-- Players List Section -->
    <div class="md:col-span-1 bg-gray-100 p-6 rounded-lg shadow-md">
      <h2 class="text-xl font-bold mb-4 text-center text-blue-700">Players</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {
          players &&
            players.map((player) => (
              <a
                href={`/rankings/${player.id}`}
                class="flex items-center justify-center"
              >
                <div class="w-full bg-blue-900 bg-blend-luminosity duration-1000 bg-cover border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 p-4">
                  <div class="flex flex-col items-center">
                    <h2 class="w-full text-center mb-3 text-lg font-bold text-white dark:text-white shadow-lg">
                      {player.name}
                    </h2>
                    <h5 class="text-base font-medium text-white dark:text-white">
                      {player.secondName}
                    </h5>
                  </div>
                </div>
              </a>
            ))
        }
      </div>
    </div>
  </div>
</Layout>
