---
import { supabase } from "../db/supabase";
let { data: match, error } = await supabase.from("match").select("*");
let { data: team } = await supabase.from("team").select("*");
function findTeam(teamId) {
  const teamAux = team.find((t) => t.id === teamId);
  return teamAux;
}
---

<section
  class={`
  w-full max-w-[1400px]
  grid lg:grid-rows-10 auto-rows-[auto] gap-4
  mx-auto items-center p-6 md:p-12 lg:p-20
`}
>
  {
    match.map((match) =>
      match.finished === true ? (
        <article
          class={`
        w-full bg-whit
        relative rounded-xl
        backdrop-blur-md
        border border-black/10
        shadow-inner shadow-white/10
        overflow-hidden bg-slate-900
        group
      `}
        >
          <div class="relative z-20 flex h-full  flex-row items-center justify-between p-4 text-lg md:p-6">
            <span>{findTeam(match.id_team1).name}</span>
            <span>{match.goals_team1}</span>
            <span>-</span>
            <span>{match.goals_team2}</span>
            <span>{findTeam(match.id_team2).name}</span>
          </div>
        </article>
      ) : (
        <article
          class={`
        w-full bg-whit
        relative rounded-xl
        backdrop-blur-md
        border border-black/10
        shadow-inner shadow-white/10
        overflow-hidden bg-slate-900
        group
      `}
        >
          <div class="relative z-20 flex h-full  flex-row items-center justify-between p-4 text-lg md:p-6">
            <span>{findTeam(match.id_team1).name}</span>
            <span>-</span>
            <span>{findTeam(match.id_team2).name}</span>
          </div>
        </article>
      )
    )
  }
</section>
