---
import { supabase } from "../db/supabase";

let { data: match, error } = await supabase.from("match").select("*");
let { data: team } = await supabase.from("team").select("*");

function findTeam(teamId) {
  const teamAux = team.find((t) => t.id === teamId);
  return teamAux;
}

function formatDateTime(dateString) {
  const date = new Date(dateString);
  const day = date.getDate();
  const monthIndex = date.getMonth();
  const hours = String(date.getHours()).padStart(2, "0");
  const minutes = String(date.getMinutes()).padStart(2, "0");

  const monthNames = [
    "enero",
    "febrero",
    "marzo",
    "abril",
    "mayo",
    "junio",
    "julio",
    "agosto",
    "septiembre",
    "octubre",
    "noviembre",
    "diciembre",
  ];

  const monthName = monthNames[monthIndex];
  const formattedDate = `${day} de ${monthName}`;
  const formattedTime = `${hours}:${minutes}`;

  return { formattedDate, formattedTime };
}
---

<section
  class="w-full max-w-[1400px] grid lg:grid-rows-10 auto-rows-[auto] gap-4 mx-auto items-center p-6 md:p-12 lg:p-20"
>
  {
    match.map((match) => (
      <article
        class={`w-full bg-white relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden bg-opacity-${match.finished ? "40" : "20"} group`}
      >
        <div class="relative z-20 grid grid-cols-3 items-center justify-between p-4 text-lg md:p-6">
          <a
            href={`/teams/${match.id_team2}`}
            class="flex flex-col bg-gray-700 bg-opacity-50 dark:bg-gray-900 dark:bg-opacity-50 text-white dark:text-white rounded-lg shadow-md p-4 transition transform hover:scale-105"
          >
            <span class="col-span-1 text-right pr-4 text-lg md:text-lg lg:text-lg xl:text-lg">
              {findTeam(match.id_team1).name}
            </span>
          </a>

          <div class="col-span-1 text-center">
            {match.finished ? (
              <>
                <span>{match.goals_team1}</span>
                <span class="mx-2">-</span>
                <span>{match.goals_team2}</span>
              </>
            ) : (
              <>
                <b class="block text-sm md:text-base lg:text-lg xl:text-lg">
                  {formatDateTime(match.day).formattedTime}
                </b>
                <span class="block text-xs md:text-base lg:text-lg xl:text-lg">
                  {formatDateTime(match.day).formattedDate}
                </span>
              </>
            )}
          </div>

          <a
            href={`/teams/${match.id_team2}`}
            class="flex flex-col bg-gray-700 bg-opacity-50 dark:bg-gray-900 dark:bg-opacity-50 text-white dark:text-white rounded-lg shadow-md p-4 transition transform hover:scale-105"
          >
            <span class="col-span-1 text-left pl-4 text-lg md:text-lg lg:text-lg xl:text-lg">
              {findTeam(match.id_team2).name}
            </span>
          </a>
        </div>
      </article>
    ))
  }
</section>
